@import "tailwindcss";

@theme {
  --color-butter: #FAF9F6;
  --color-butter-light: #FDFBF7;
  --color-gold: #D4AF37;
  --color-gold-light: #F4CF57;
  --color-charcoal: #333333;
  --color-charcoal-light: #4D4D4D;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-butter text-charcoal font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
